/*
 * @verson : 1.0
 * @contact : via mickesweb.se
 * @author :  Mikael Andersson <mikael@mickesweb.se>
 * Last Updated: 2012-01-30
*/
/* -- RESET ALL ------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    background: transparent;
}
/* -- TEXT ---------------------------------------------------------------- */
h1 {
    font-size: 22px;
    margin: 10px 0 10px 0;
}
/* -- OTHER --------------------------------------------------------------- */
.hidden {
    display: none;
}

/* -- FORM GENERATOR ------------------------------------------------------ */

.errorLabel {
    color: #FF0000;
}

.errorText {
    font-size: 10px;
}
    